:root {
  --bgColor: #f3fbff;
  --lnkColor: dodgerblue ;
  --lnkHoverColor: #17a2b8;
  --bgBarColor: #343a40;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  background: var(--bgColor);
  height: 100vh;
}

body * {
  transition: .3s ease-out;
}

:any-link {
  color: var(--lnkColor);
}

:any-link:hover,
:any-link:focus {
  color: var(--lnkHoverColor);
  text-decoration: none;
}

#Header a:hover {
  color: #fff !important;
}

#bg-img {
  background: url("../img/bg-laptop.jpeg") no-repeat center fixed;
  background-size: cover;
  height: 100%;
  max-height: 100vh;
}

#About {
  margin-top: -30%;
  width: 100% !important;
}

#About .vertical-line {
  border-left: 2px solid darkgray;
}

.vertical-line > div {
  margin: 1.5rem auto;
}

.svg-inline--fa {
  color: #fff !important;
  margin: 0 5% !important;
}

a.socicon:hover,
.navbar-brand h3:hover,
#backToTop a:hover,
.svg-inline--fa:hover{
  color: #61dafb !important;
  transition: none !important;
}


#About #AboutMe span,
#Skills span,
#Projects span,
#Contact span {
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
}

#About #AboutMe hr,
#Skills hr,
#Projects hr,
#Contact hr {
  border-width: 3px;
  margin-top: 6px;
}

#progress-html .progress-bar {
  width: 95%;
}

#progress-css .progress-bar {
  width: 95%;
}

#progress-js .progress-bar {
  width: 45%;
}

#progress-jquery .progress-bar {
  width: 70%;
}

#progress-react .progress-bar {
  width: 30%;
}

#progress-sass-less-scss .progress-bar {
  width: 70%;
}

#progress-flex-grid .progress-bar {
  width: 70%;
}

#progress-git .progress-bar {
  width: 60%;
}

#Skills h3 {
  margin-top: 6px;
  margin-bottom: -3px;
  font-size: 1.3rem;
}

#Projects img {
  width: 200px;
  height: 80px;
}

#Projects .card {
  border-top: 3px solid #1e90ff;
}

#Experience span {
  border-radius: 3px !important;
  padding: 5px;
}

#experienced:target {
  transition: background-color 4s ease-in-out;;
  background-color: #61dafb !important;
}


/* begin begin Back to Top button  */
.back_to_top {
  position: fixed;
  top: 4rem;
  left: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  background-color:  rgba(30, 144, 255, .3);
  color: #fff;
  cursor: pointer;
  border-radius: .3rem;
  z-index: -1;
  transform: scale(.8);
}

.back_to_top:hover {
  background-color: var(--lnkHoverColor);
  transform: scale(1);
}
